---
const today = new Date();
import { Icon } from "astro-icon/components";
---

<footer
  class="fixed bottom-0 left-0 right-0 flex flex-col md:flex-row md:justify-between md:items-center font-overpass-mono w-full p-4 md:p-8 z-10 text-slate-900 dark:text-white"
>
  <div class="text-[12px] text-center items-center flex justify-center mb-2 md:mb-0">
    &copy; {today.getFullYear()} Shaun Evans. All rights reserved.
  </div>
  <div class="flex justify-center gap-3">
    
    <a href="https://github.com/pepperhornh" target="_blank" class="text-slate-900 dark:text-white hover:opacity-70 transition-opacity dark:border-gray-200 dark:border rounded p-1">
      <span class="sr-only">Go to Shaun's GitHub repo</span>
      <Icon name="mdi:github" class="h-[20px] w-[20px]" />
    </a>
    <a href="https://www.linkedin.com/in/pepperhorn/" target="_blank" class="text-slate-900 dark:text-white hover:opacity-70 transition-opacity dark:border-gray-200 dark:border rounded p-1">
      <span class="sr-only">Go to Shaun's LinkedIn Profile</span>
      <Icon name="mdi:linkedin" class="h-[20px] w-[20px]" />
    </a>
    <a href="https://www.instagram.com/hotbutteredsax/" target="_blank" class="text-slate-900 dark:text-white hover:opacity-70 transition-opacity dark:border-gray-200 dark:border rounded p-1">
      <span class="sr-only">Go to Shaun's Instragram Profile</span>
      <Icon name="mdi:instagram" class="h-[20px] w-[20px]" />
    </a>
    <a
      id="rss-link"
      href=""
      target="_blank"
      style="visibility: hidden; width: 0; height: 0;"
    >
      <span class="sr-only">Subscribe to RSS Feed</span>
      <Icon name="mdi:rss" class="h-[20px] w-[20px]" />
    </a>
  </div>
  <slot />
</footer>
<script src="../scripts/rss.js"></script>
