---
import Hamburger from "./Hamburger.astro";
import Navigation from "./Navigation.astro";
import ThemeToggle from "./ThemeToggle.astro";
const { is404Page = false } = Astro.props;
---

<header class="mb-[20px] mt-[-10px]">
  <nav class="flex items-center justify-between w-full h-[30px]">
    {
      !is404Page && (
        <div class="flex items-center h-[30px]">
          <a href="/" class="block">
            <img
              class="favicon dark:invert w-[30px] h-[30px]"
              src="/logos/pathcircleinv.svg"
              alt="Home"
              width="30"
              height="30"
            />
          </a>
        </div>
      )
    }
    <div class="flex items-center h-[30px] gap-2">
      {
        !is404Page && (
          <>
            <div class="flex items-center justify-center h-[30px] w-[30px]">
              <ThemeToggle />
            </div>
            <div class="flex items-center justify-center h-[30px] w-[30px]">
              <Hamburger />
            </div>
          </>
        )
      }
    </div>
  </nav>
  {
    !is404Page && (
      <div class="absolute right-0 mt-2">
        <Navigation />
      </div>
    )
  }
  <slot />
</header>
